<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">   
    <link href='/stylesheets/bootstrap.min.css' rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/bootstrap-social.css' />
    <link rel='stylesheet' href='/stylesheets/detail.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Skry</title>
</head>
<body>
    <div class="topBar">
        <a href="/"><h2 class="title">Skry</h2></a>
        <% if(!logged){%>
            <h4 id="log">Login with</h4>
            <a  href="/auth/facebook"><button class="btn-social-icon btn-facebook"><span class="fab fa-facebook-square"></span></button></a>
        <%} else {%>
            <a id="welcome" href="/user">
           <img class="profilePic" src=<%=user.picPath%>
            
            <span>Welcome <%=user.provider_name%></span>
        </a>
            <a href="/logout"><p class="logout">Logout</p></a>
        <% } %>
    </div> 
    <div id="main-container">
    <div id="locationContainer">
  
    </div>
    <div id="infoContainer">
        <div id="largeTitle">
            <h2>Places Near You</h2>
        </div>
    </div>

    <div id="myReviews">
        <h2>Recent Reviews</h2>
        <div class="review-container">
            <% reviews.forEach(function(review){%>
              <div class="review">
                  <img src=<%=review.creatorPicPath%>>
                    <strong>Rated <%=review.placeName%> a <%= review.rating %>/5 at
                   <% if(review.updated_at.getMinutes()<10){%>
                      <%=review.updated_at.getHours()%>:0<%=review.updated_at.getMinutes()%></strong>
                   <%} else{%>
                    <%=review.updated_at.getHours()%>:<%=review.updated_at.getMinutes()%></strong>
                    <%}%>
                    <img src=<%="/images/"+review.music+".png"%>>
                  <% if (review.crowded==1){ %>
                    <img src="/images/fullCrowd.png">
                <%} else if (review.crowded==2){%>
                  <img src="/images/averageCrowd.png">
                  <%} else if (review.crowded==3){%>
                    <img src="/images/empty.png">
                  <%}%>
              </div>
            <%})%>
          </div>
    </div>
</div>
</body>
<script>
    var placesArray=<%- JSON.stringify(places) %>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkS2ZKYa3xtCIJpDDZxsGbbzjG2Yobrww&libraries=places">
    </script>

<script type="text/javascript" src="/javascripts/main.js"></script>
</html>

